.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.canvas-container {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.canvas-container {
  width: 400px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
}

.video-container {
  width: 600px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
}

.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-container {
  width: 400px;
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

canvas {
  background-color: #ddd;
}

button {
  margin-top: 10px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
